.archive-homeschool-programs,
.archive-programs,
.archive-classes,
.archive-camps,
.posts-page {
    width: 100%;
    .page-title {
        margin-bottom: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: darken($primary, 20%);
    }
    .card-deck {
        .card {
            flex: 0 0 30%;
            img {
                width: 100%;
                // max-height: 250px;
            }
            .card-body {
                text-align: center;
                .card-title {
                    line-height: 1;
                    a {
                        font-size: 2rem;
                        text-transform: uppercase;
                        font-weight: bold;
                        color: $primary;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
