body {
    margin-top: 56px;
}
.btn-register {
    @include button;
}
.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
}
.cta-btn {
    @include button;
    @media screen and (min-width: 768px) {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
}
.btn {
    @include button;
}
.nav-previous,
.nav-next {
    a {
        @include button;
        color: $white;
        text-decoration: none;
        padding: 10px;
        border-radius: 0.3rem;
    }
}
