.btn-register {
    @include registration-button;
}

.cta {
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: $primary;
    border-color: $primary;

    @media screen and (min-width: 768px) {
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
}