@mixin registration-button {
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $primary;
    border-color: $primary;
}
@mixin title {
    font-weight: bold;
    text-transform: uppercase;
}
